<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src='https://code.angularjs.org/1.5.5/angular.min.js'></script>
    <script type="text/javascript" src='/js/master.js'></script>
    <script type="text/javascript" src='/js/controller.js'></script>
  </head>
  <body ng-app='myapp'>
    <div ng-controller='formone'>
      <form name='myForm' id='myForm'>
        <div>
          <label for="input1">Firstname<input type="text" name='input1' ng-model='users.fname' ng-minlength="1" ng-required="true"></label>
          <p ng-if="myForm.input1.$invalid && myForm.input1.$dirty">Please insert the firstname.</p>
        </div>
        <div>
          <label for="input2">Lastname<input type="text" name='input2' ng-model='users.lname' ng-minlength="1" ng-required="true"></label>
          <p ng-if="myForm.input2.$invalid && myForm.input2.$dirty">Please insert the lastname.</p>
        </div>
        <div>
          <label for="input3">Email<input type="text" name='input3' ng-model='users.email' ng-minlength="1" ng-required="true"></label>
          <p ng-if="myForm.input3.$invalid && myForm.input3.$dirty">Please insert the email.</p>
        </div>
        <div>
          <label for="input4">Location<input type="text" name='input4' ng-model='users.location' ng-minlength="1" ng-required="true"></label>
          <p ng-if="myForm.input4.$invalid && myForm.input4.$dirty">Please insert the location.</p>
        </div>
        <div>
          <label for="input5">Company<input type="text" name='input5' ng-model='users.company' ng-minlength="1" ng-required="true"></label>
          <p ng-if="myForm.input5.$invalid && myForm.input5.$dirty">Please insert the company name.</p>
        </div>
        <div>
          <label for="input6">Male
          <input type="radio" name='input6' ng-model='users.gender' ng-required="true" value='Male'>
          </label>
          <label for="input6">Female
          <input type="radio" name='input6' ng-model='users.gender' ng-required="true" value='Female'>
          </label>
          <p ng-if="myForm.input6.$invalid && myForm.input6.$dirty">Please select the gender.</p>
        </div>
        <input type="button" value="Submit" ng-click='dbPost(users)' ng-disabled='myForm.$invalid'>
      </form>
      <p>{{myForm.input.$invalid}}</p>
      <table ng-if='trFlag'>
        <tr>
          <th>ID</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Location</th>
          <th>Company</th>
          <th>Gender</th>
        </tr>
        <tr ng-repeat='user in main'>
          <td>{{user['_id']}}</td>
          <td>{{user['fname']}}</td>
          <td>{{user['lname']}}</td>
          <td>{{user['email']}}</td>
          <td>{{user['location']}}</td>
          <td>{{user['company']}}</td>
          <td>{{user['gender']}}</td>
          <td><label for='delete'><input type="button" value='Delete' id={{user['_id']}} ng-click='delete($event)'></label></td>
          <td><label for='edit'><input type="button" value='Edit' id={{user['_id']}} ng-click='edit($event)'></label></td>
        </tr>
      </table>
      <p ng-if='errFlag'>Error!! Data is not submitted.</p>
    </div>
  </body>
</html>
